<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CatFeeder1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03BECB471DBB001B00BE63F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03BECB5B1DBB001B00BE63F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03BECB661DBB001B00BE63F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
